/* Write Article Page */

#article-title{
    width: 100%;
    font-size: 5rem;
    font-family: 'MinecraftTen';
    text-align: center;
}

#article-text{
    width: 100%;
    height: 50vh;
}

.write-article .page-container div{
    margin: auto;
    width: 70%;
}

.write-article .page-container{
    text-align: center;
}

@media (max-width: 656px) {
    #article-title{
        font-size: 2.5rem;
    }

    .write-article .page-container div{
        margin: auto;
        width: 90%;
    }
  }