.article-created-page-container img{
    width: 100%;
}

.article-created-page-container.page-container {
    display: block;
    text-align: center;
}

.article-created-page-container h1{
    font-size: 8rem;
}

/* Mobile screen sizing */
@media (max-width: 656px) {
    .article-created-page-container h1{
      font-size: 5rem;
    }

    .article-created-page-container.page-container{
        display: flex;
        padding-bottom: 50px;
    }

  }