/* NAVBAR */
.navbar{
  position: sticky;
  top: 0;
  background-color: rgb(255, 236, 206);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav h2{
  padding-left: 1%;
  padding-top: 0.5%;
  margin-right: 100px;
}

nav h2 .style2{
  color: rgb(31, 171, 40);
}

.nav-item{
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(31, 171, 40);
}

.minekada-nav{
  text-decoration: none;
  width: 700px;
}


/* ARTICLE PAGE */
.article-container {
  margin: 3vw 10vw 0 10vw;
}

@media (max-width: 656px) {
  nav ul{
    margin-left: 10px;
  }

}


@font-face {
  font-family: 'MinecraftReg';
  src: url('./assets/fonts/MinecraftRegular-Bmg3.otf') format('truetype');
}
