/* NAVBAR */
nav{
  background-color: rgb(255, 236, 206);
  border-bottom: 0.5vw solid brown;
}

nav h2{
  padding-left: 1%;
  padding-top: 0.5%;
}

nav h2 .style2{
  color: rgb(31, 171, 40);
}

.nav-item{
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(31, 171, 40);
}

 /* HOMEPAGE */
.hero-container{
  background-image: url('assets/backgrounds/dirt.png');
}

.hero-container h1{
  font-size: 3.5vw;
}




@font-face {
  font-family: 'MinecraftReg';
  src: url('./assets/fonts/MinecraftRegular-Bmg3.otf') format('truetype');
}