h1, h2{
  font-family: 'MinecraftTen';
}

h2{
  color: rgb(120, 60, 23);
}

body{
  font-family: 'MinecraftReg';
  background-color: rgb(218, 218, 218);
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('./assets/fonts/MinecraftTen-VGORe.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftReg';
  src: url('./assets/fonts/MinecraftRegular-Bmg3.otf') format('truetype');
}